._slider{
    background-image: url(../img/slider/queen-gray.jpg);
    background-size: cover;
    text-align: center;
    a{
        padding-top: 25%;
        i{
            color: lime;
        }
    }

    h2{
        text-align: center;
        font-size: 50px;
        font-family: 'Lora';
        color: silver;
        padding-top: 1em;
        margin-top: 0;
    }
}
