._collage{
    h1{

    }
    background-image: url(../img/collage/bg_materik.png);
    text-align: center;
    div{
        opacity: 0.9;
        img{
            width: 100%;
            height: auto;
        }
    }


}
