mixin collage
    ._collage
        h1 Rock-Life
        br
        br
        div
            div
                img(src="../img/collage/collage_01.jpg")
            div
                img(src="../img/collage/collage_02.jpg")
            div
                img(src="../img/collage/collage_03.jpg")
            div
                img(src="../img/collage/collage_04.jpg")
            div
                img(src="../img/collage/collage_05.jpg")
            div
                img(src="../img/collage/collage_06.jpg")
