include head/head
include header/header
include textrun/textrun
include content/content
include about/about
include slider/slider
include collage/collage
include footer/footer
include social/social
include anchor/anchor

doctype html
html(lang="uk")
    head
        +head("Vinnytsia - Rock", "main")
    body
        +content
        script( src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src ="js/bootstrap.js")    
        script(src ="js/main.js")    
