/* actions ranning string */
._textrun{
    height: 45px;
    @media only screen and(max-width: 769px){
        display: none;
      }

}
._actions-marquee{
width:100%;
white-space:nowrap;
overflow:hidden;
padding: 5px 0;
font-family: 'Lora';
}

._actions-marquee span {
color: linen;
font-style: italic;
font-size:25px;
display:inline-block;
padding-left:100%;
-webkit-animation: _actions-marquee 10s infinite linear;
animation: _actions-marquee 70s infinite linear;
}

@-webkit-keyframes _marquee {
0%{-webkit-transform: translate(0, 0);}
100%{-webkit-transform: translate(-100%, 0);}
}
@keyframes _actions-marquee{
0%{transform: translate(0, 0);}
100%{transform: translate(-100%, 0)}
}

._text{
    display: none;
    @media only screen and(max-width: 769px){
        display: block;
      }

    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: white;
    margin-top: -20px;;
    font-family: 'Lora';
    h2{
        margin-top: 0;
    }
}
._text-content{
    max-width: 300px;
    font-size: 16px;
    font-style: italic;
    padding: 5px;
    margin: 0 auto;

}
