mixin textrun
    ._textrun
        #textrun(class="_actions-marquee")
            span Я нікому зла не бажаю 
                |тож мені не бажайте зла.
                |Я чужі думки поважаю,
                |лиш би думка мудра була.
                |Я брехати в очі не  вмію
                |і надіюсь, що вже не навчусь.
                |Я чужій біді не радію
                |і не заздрю ніколи комусь.
                |Приспів:
                |Бо моя мати – то воля,
                |мій батько – вітер в лице!
                |Я не маю надії на долю
                |і не жалкую про це.
                |Я ніколи нікому не пара,
                |не хапаю з неба зірок...
                |Мій найкращий друг – то гітара,
                |все життя моє, все життя твоє –
                |ТО Є РОК!
                |Мене не цікавить мода –
                |я не купуй не знаю про це,
                |бо мій вибір життєвий – свобода
                |та інколи гостре слівце!
                |Я не вірю політиканам,
                |вірю в Бога, та не попам
                |і коли на душі погано –
                |я не йду молитися у храм.

mixin text 
    ._text
        ._text-content
            h2 То Є РОК
            |Я нікому зла не бажаю 
            br
            |тож мені не бажайте зла.
            br
            |Я чужі думки поважаю,
            br
            |лиш би думка мудра була.
            br
            |Я брехати в очі не  вмію
            br
            |і надіюсь, що вже не навчусь.
            br
            |Я чужій біді не радію
            br
            |і не заздрю ніколи комусь.
            br
            br
            |Приспів:
            br
            |Бо моя мати – то воля,
            br
            |мій батько – вітер в лице!
            br
            |Я не маю надії на долю
            br
            |і не жалкую про це.
            br
            |Я ніколи нікому не пара,
            br
            |не хапаю з неба зірок...
            br
            |Мій найкращий друг – то гітара,
            br
            |все життя моє, все життя твоє –
            br
            |ТО Є РОК!
            br
            br
            |Мене не цікавить мода –
            br
            |я не купуй не знаю про це,
            br
            |бо мій вибір життєвий – свобода
            br
            |та інколи гостре слівце!
            br
            |Я не вірю політиканам,
            br
            |вірю в Бога, та не попам
            br
            |і коли на душі погано –
            br
            |я не йду молитися у храм.
            br
            br
